
button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  
}
section{
  width: 500px;
  height: 300px;
  text-align: center;
  margin-left: 450px;
  background-color: rgb(226, 221, 221);
  background-image: url(/images/padlock.jpg);
}
.cond{
  background-color: rgb(64, 85, 85);
  height: 50px;
}
h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: rgb(65, 85, 148);
}
